.custom-card {
  max-width: 320px !important;
  display: inline-block;
  background: #f3f3fb !important;
  margin-top: 5px !important;
  border-radius: 16px !important;
  border: none !important;
}
.custom-card div h5 {
  font-size: 20px;
  color: #2c2c2e;
}
.custom-card div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* .container_emplo {
  padding: 0 140 !important;
} */
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
}

.hover {
  /* width: 400px; */
  left: 34px;
}
.hover:hover {
  background-color: rgba(235, 235, 245, 0.6);
  cursor: pointer;
  border-radius: 8px;
}
.hovertitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(235, 235, 245, 0.6) !important;
  cursor: pointer;
  border: 3px solid lightgray !important;
  border-radius: 8px;
  border: none;
}
.hovertitle {
  border: none !important;
}

/* //this is good styled site */
