body {
  margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* couse section */

.bgCourse{
  background-color: #F3F3FB;
  border-radius: 40px;
}