@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url("./pages/Services/services.css");
@import url('./styles/static.css');
html{
   scroll-behavior: smooth;
}
.footer {
   background: #0568FD;
}

ul li {
   list-style-type: none;
}

ul {
   margin-left: -30px;
}

body {
   font-family: 'Roboto', sans-serif !important;
}

.circlePrice{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F2F2F7;
   color: #0568FD;
}
.modal-dialog.modal-lg{
   width: 100%;
}
@import url('./pages/Contact/contact.css');
@import url("./pages/Services/services.css");
@import url('./styles/static.css');
